In [1]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load in 

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the "../input/" directory.
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# Any results you write to the current directory are saved as output.

/kaggle/input/titanic/train.csv
/kaggle/input/titanic/test.csv
/kaggle/input/titanic/gender_submission.csv

In [2]:
# Load out plotting libraries
import matplotlib.pyplot as plt
import seaborn as sns

# Load our warnings libraries
import warnings
warnings.filterwarnings('ignore')

In [3]:
# Read train data
train = pd.read_csv('/kaggle/input/titanic/train.csv')

# Read test data
test = pd.read_csv('/kaggle/input/titanic/test.csv')

In [4]:
train.isnull().sum().sort_values(ascending=False)

Cabin          687
Age            177
Embarked         2
Fare             0
Ticket           0
Parch            0
SibSp            0
Sex              0
Name             0
Pclass           0
Survived         0
PassengerId      0
dtype: int64

In [5]:
train.describe(include = 'all')

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
count,891.000000,891.000000,891.000000,891,891,714.000000,891.000000,891.000000,891,891.000000,204,889
unique,NaN,NaN,NaN,891,2,NaN,NaN,NaN,681,NaN,147,3
top,NaN,NaN,NaN,"Ford, Miss. Robina Maggie ""Ruby""",male,NaN,NaN,NaN,347082,NaN,C23 C25 C27,S
freq,NaN,NaN,NaN,1,577,NaN,NaN,NaN,7,NaN,4,644
mean,446.000000,0.383838,2.308642,NaN,NaN,29.699118,0.523008,0.381594,NaN,32.204208,NaN,NaN
std,257.353842,0.486592,0.836071,NaN,NaN,14.526497,1.102743,0.806057,NaN,49.693429,NaN,NaN
min,1.000000,0.000000,1.000000,NaN,NaN,0.420000,0.000000,0.000000,NaN,0.000000,NaN,NaN
25%,223.500000,0.000000,2.000000,NaN,NaN,20.125000,0.000000,0.000000,NaN,7.910400,NaN,NaN
50%,446.000000,0.000000,3.000000,NaN,NaN,28.000000,0.000000,0.000000,NaN,14.454200,NaN,NaN
75%,668.500000,1.000000,3.000000,NaN,NaN,38.000000,1.000000,0.000000,NaN,31.000000,NaN,NaN
max,891.000000,1.000000,3.000000,NaN,NaN,80.000000,8.000000,6.000000,NaN,512.329200,NaN,NaN

In [6]:
age_group = train.groupby("Pclass")["Age"]

print(age_group.median())

Pclass
1    37.0
2    29.0
3    24.0
Name: Age, dtype: float64

In [7]:
train.loc[train.Age.isnull(), 'Age'] = train.groupby("Pclass").Age.transform('median')

print(train["Age"].isnull().sum())

0

In [8]:
test.isnull().mean().sort_values(ascending = False)

Cabin          0.782297
Age            0.205742
Fare           0.002392
Embarked       0.000000
Ticket         0.000000
Parch          0.000000
SibSp          0.000000
Sex            0.000000
Name           0.000000
Pclass         0.000000
PassengerId    0.000000
dtype: float64

In [9]:
test.loc[test.Age.isnull(), 'Age'] = train.groupby("Pclass").Age.transform('median')

print(test["Age"].isnull().sum())

0

In [10]:
train.isnull().sum().sort_values(ascending = False)

Cabin          687
Embarked         2
Fare             0
Ticket           0
Parch            0
SibSp            0
Age              0
Sex              0
Name             0
Pclass           0
Survived         0
PassengerId      0
dtype: int64

In [11]:
from statistics import mode
train["Embarked"] = train["Embarked"].fillna(mode(train["Embarked"]))

In [12]:
# Convert 'Sex' variable to integer form
train["Sex"][train["Sex"] == "male"] = 0
train["Sex"][train["Sex"] == "female"] = 1

# Convert 'Embarked' variable to integer form
train["Embarked"][train["Embarked"] == "S"] = 0
train["Embarked"][train["Embarked"] == "C"] = 1
train["Embarked"][train["Embarked"] == "Q"] = 2

In [13]:
test.isnull().sum().sort_values(ascending = False)

Cabin          327
Fare             1
Embarked         0
Ticket           0
Parch            0
SibSp            0
Age              0
Sex              0
Name             0
Pclass           0
PassengerId      0
dtype: int64

In [14]:
from statistics import mode
test["Fare"] = test["Fare"].fillna(mode(test["Fare"]))

In [15]:
# Convert 'Sex' variable to integer form
test["Sex"][test["Sex"] == "male"] = 0
test["Sex"][test["Sex"] == "female"] = 1

# Convert 'Embarked' variable to integer form
test["Embarked"][test["Embarked"] == "S"] = 0
test["Embarked"][test["Embarked"] == "C"] = 1
test["Embarked"][test["Embarked"] == "Q"] = 2

In [16]:
test.isnull().sum().sort_values(ascending = False)

Cabin          327
Embarked         0
Fare             0
Ticket           0
Parch            0
SibSp            0
Age              0
Sex              0
Name             0
Pclass           0
PassengerId      0
dtype: int64

In [17]:
train.isnull().sum().sort_values(ascending = False)

Cabin          687
Embarked         0
Fare             0
Ticket           0
Parch            0
SibSp            0
Age              0
Sex              0
Name             0
Pclass           0
Survived         0
PassengerId      0
dtype: int64

In [18]:
train['Cabin'] = train['Cabin'].fillna('U')
test['Cabin'] = test['Cabin'].fillna('U')

In [19]:
train.isnull().sum().sort_values(ascending = False)

Embarked       0
Cabin          0
Fare           0
Ticket         0
Parch          0
SibSp          0
Age            0
Sex            0
Name           0
Pclass         0
Survived       0
PassengerId    0
dtype: int64

In [20]:
test.isnull().sum().sort_values(ascending = False)

Embarked       0
Cabin          0
Fare           0
Ticket         0
Parch          0
SibSp          0
Age            0
Sex            0
Name           0
Pclass         0
PassengerId    0
dtype: int64

In [21]:
train['Cabin'].unique().tolist()

['U',
 'C85',
 'C123',
 'E46',
 'G6',
 'C103',
 'D56',
 'A6',
 'C23 C25 C27',
 'B78',
 'D33',
 'B30',
 'C52',
 'B28',
 'C83',
 'F33',
 'F G73',
 'E31',
 'A5',
 'D10 D12',
 'D26',
 'C110',
 'B58 B60',
 'E101',
 'F E69',
 'D47',
 'B86',
 'F2',
 'C2',
 'E33',
 'B19',
 'A7',
 'C49',
 'F4',
 'A32',
 'B4',
 'B80',
 'A31',
 'D36',
 'D15',
 'C93',
 'C78',
 'D35',
 'C87',
 'B77',
 'E67',
 'B94',
 'C125',
 'C99',
 'C118',
 'D7',
 'A19',
 'B49',
 'D',
 'C22 C26',
 'C106',
 'C65',
 'E36',
 'C54',
 'B57 B59 B63 B66',
 'C7',
 'E34',
 'C32',
 'B18',
 'C124',
 'C91',
 'E40',
 'T',
 'C128',
 'D37',
 'B35',
 'E50',
 'C82',
 'B96 B98',
 'E10',
 'E44',
 'A34',
 'C104',
 'C111',
 'C92',
 'E38',
 'D21',
 'E12',
 'E63',
 'A14',
 'B37',
 'C30',
 'D20',
 'B79',
 'E25',
 'D46',
 'B73',
 'C95',
 'B38',
 'B39',
 'B22',
 'C86',
 'C70',
 'A16',
 'C101',
 'C68',
 'A10',
 'E68',
 'B41',
 'A20',
 'D19',
 'D50',
 'D9',
 'A23',
 'B50',
 'A26',
 'D48',
 'E58',
 'C126',
 'B71',
 'B51 B53 B55',
 'D49',
 'B5',
 'B20',
 'F G63',
 'C62 C64',
 'E24',
 'C90',
 'C45',
 'E8',
 'B101',
 'D45',
 'C46',
 'D30',
 'E121',
 'D11',
 'E77',
 'F38',
 'B3',
 'D6',
 'B82 B84',
 'D17',
 'A36',
 'B102',
 'B69',
 'E49',
 'C47',
 'D28',
 'E17',
 'A24',
 'C50',
 'B42',
 'C148']

In [22]:
# regular expression matching operations module
import re

# Extract (first) letter!
train['Cabin'] = train['Cabin'].map(lambda x: re.compile("([a-zA-Z]+)").search(x).group())

train['Cabin'].unique().tolist()

cabin_category = {'A':1, 'B':2, 'C':3, 'D':4, 'E':5, 'F':6, 'G':7, 'T':8, 'U':9}

train['Cabin'] = train['Cabin'].map(cabin_category)
train['Cabin'].unique().tolist()
#---------------------------------------
test['Cabin'] = test['Cabin'].map(lambda x: re.compile("([a-zA-Z]+)").search(x).group())

test['Cabin'].unique().tolist()

cabin_category = {'A':1, 'B':2, 'C':3, 'D':4, 'E':5, 'F':6, 'G':7, 'T':8, 'U':9}

test['Cabin'] = test['Cabin'].map(cabin_category)
test['Cabin'].unique().tolist()

[9, 2, 5, 1, 3, 4, 6, 7]

In [23]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,9,2
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,9,0
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,9,2
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,9,0
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,9,0

In [24]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,9,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,3,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,9,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,3,0
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,9,0

In [25]:
# Extraction of the salutation
train['Title'] = train.Name.str.extract(' ([A-Za-z]+)\.', expand = False)
train['Title'].unique().tolist()
test['Title'] = test.Name.str.extract(' ([A-Za-z]+)\.', expand = False)
test['Title'].unique().tolist()

['Mr', 'Mrs', 'Miss', 'Master', 'Ms', 'Col', 'Rev', 'Dr', 'Dona']

In [26]:
# salutations percentages
train['Title'].value_counts(normalize = True) * 100

Mr          58.024691
Miss        20.426487
Mrs         14.029181
Master       4.489338
Dr           0.785634
Rev          0.673401
Mlle         0.224467
Col          0.224467
Major        0.224467
Sir          0.112233
Mme          0.112233
Don          0.112233
Lady         0.112233
Ms           0.112233
Jonkheer     0.112233
Capt         0.112233
Countess     0.112233
Name: Title, dtype: float64

In [27]:
test['Title'].value_counts(normalize = True) * 100

Mr        57.416268
Miss      18.660287
Mrs       17.224880
Master     5.023923
Col        0.478469
Rev        0.478469
Dona       0.239234
Dr         0.239234
Ms         0.239234
Name: Title, dtype: float64

In [28]:
# rare salutations to 'Other' category
train['Title'] = train['Title'].replace(['Rev', 'Dr', 'Col', 'Ms', 'Mlle', 'Major', 'Countess', 
                                       'Capt', 'Dona', 'Jonkheer', 'Lady', 'Sir', 'Mme', 'Don'], 'Other')

In [29]:
test['Title'] = test['Title'].replace(['Rev', 'Dr', 'Col', 'Ms', 'Mlle', 'Major', 'Countess', 
                                       'Capt', 'Dona', 'Jonkheer', 'Lady', 'Sir', 'Mme', 'Don'], 'Other')

In [30]:
title_category = {'Mr':1, 'Miss':2, 'Mrs':3, 'Master':4, 'Other':5}

train['Title'] = train['Title'].map(title_category)
train['Title'].unique().tolist()

[1, 3, 2, 4, 5]

In [31]:
title_category = {'Mr':1, 'Miss':2, 'Mrs':3, 'Master':4, 'Other':5}

test['Title'] = test['Title'].map(title_category)
test['Title'].unique().tolist()

[1, 3, 2, 4, 5]

In [32]:
test['familySize'] = test['SibSp'] + test['Parch'] + 1
train['familySize'] = train['SibSp'] + train['Parch'] + 1

In [33]:
test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,familySize
0,892,3,"Kelly, Mr. James",0,34.5,0,0,330911,7.8292,9,2,1,1
1,893,3,"Wilkes, Mrs. James (Ellen Needs)",1,47.0,1,0,363272,7.0000,9,0,3,2
2,894,2,"Myles, Mr. Thomas Francis",0,62.0,0,0,240276,9.6875,9,2,1,1
3,895,3,"Wirz, Mr. Albert",0,27.0,0,0,315154,8.6625,9,0,1,1
4,896,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",1,22.0,1,1,3101298,12.2875,9,0,3,3

In [34]:
train.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Title,familySize
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,9,0,1,2
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,3,1,3,2
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,9,0,2,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,3,0,3,2
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,9,0,1,1

In [35]:
train = train.drop(['Name', 'SibSp', 'Parch', 'Ticket'], axis = 1)
test = test.drop(['Name', 'SibSp', 'Parch', 'Ticket'], axis = 1)

In [36]:
train.head()

,PassengerId,Survived,Pclass,Sex,Age,Fare,Cabin,Embarked,Title,familySize
0,1,0,3,0,22.0,7.2500,9,0,1,2
1,2,1,1,1,38.0,71.2833,3,1,3,2
2,3,1,3,1,26.0,7.9250,9,0,2,1
3,4,1,1,1,35.0,53.1000,3,0,3,2
4,5,0,3,0,35.0,8.0500,9,0,1,1

In [37]:
test.head()

   PassengerId  Pclass Sex   Age     Fare  Cabin Embarked  Title  familySize
0          892       3   0  34.5   7.8292      9        2      1           1
1          893       3   1  47.0   7.0000      9        0      3           2
2          894       2   0  62.0   9.6875      9        2      1           1
3          895       3   0  27.0   8.6625      9        0      1           1
4          896       3   1  22.0  12.2875      9        0      3           3

In [38]:
train['Survived'] = train['Survived'].astype(np.int8)

In [39]:
# module for dataset splitting
from sklearn.model_selection import train_test_split

# local validation scheme
X_train, X_test, y_train, y_test = train_test_split(train.drop(['Survived', 'PassengerId'], axis = 1), 
                                                    train['Survived'], test_size = 0.2, 
                                                    random_state = 2)

In [40]:
# logistic regression model 
from sklearn.linear_model import LogisticRegression
logisticRegression = LogisticRegression(max_iter = 10000)
logisticRegression.fit(X_train, y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=10000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

In [41]:
predictions = logisticRegression.predict(X_test)

In [42]:
# Check mean
round(np.mean(predictions), 2)

0.38

In [43]:
from sklearn.metrics import classification_report, confusion_matrix

# resulting confusion matrix
print(confusion_matrix(y_test, predictions))

[[87 13]
 [24 55]]

In [44]:
# Accuracy calculation
accuracy = (87 + 55) / (87 + 13 + 24 + 55)
print('accuracy is: ' + str(round(accuracy, 2)))

accuracy is: 0.79

In [45]:
from sklearn.model_selection import KFold

# robust cross-validation scheme
kf = KFold(n_splits = 5, random_state = 2)

In [46]:
from sklearn.model_selection import cross_val_score

# CV accuracy estimate:
print(cross_val_score(logisticRegression, X_test, y_test, cv = kf).mean())

0.7763492063492063

In [47]:
from sklearn.ensemble import RandomForestClassifier

#Initialize randomForest
randomForest = RandomForestClassifier(random_state = 2)

In [48]:
# Set parameter grid
param_grid = { 
    'criterion' : ['gini', 'entropy'],
    'n_estimators': [100, 300, 500],
    'max_features': ['auto', 'log2'],
    'max_depth' : [3, 5, 7]    
}

In [49]:
from sklearn.model_selection import GridSearchCV

# Grid search
randomForest_CV = GridSearchCV(estimator = randomForest, param_grid = param_grid, cv = 5)
randomForest_CV.fit(X_train, y_train)

GridSearchCV(cv=5, error_score=nan,
             estimator=RandomForestClassifier(bootstrap=True, ccp_alpha=0.0,
                                              class_weight=None,
                                              criterion='gini', max_depth=None,
                                              max_features='auto',
                                              max_leaf_nodes=None,
                                              max_samples=None,
                                              min_impurity_decrease=0.0,
                                              min_impurity_split=None,
                                              min_samples_leaf=1,
                                              min_samples_split=2,
                                              min_weight_fraction_leaf=0.0,
                                              n_estimators=100, n_jobs=None,
                                              oob_score=False, random_state=2,
                                              verbose=0, warm_start=False),
             iid='deprecated', n_jobs=None,
             param_grid={'criterion': ['gini', 'entropy'],
                         'max_depth': [3, 5, 7],
                         'max_features': ['auto', 'log2'],
                         'n_estimators': [100, 300, 500]},
             pre_dispatch='2*n_jobs', refit=True, return_train_score=False,
             scoring=None, verbose=0)

In [50]:
# Print best hyperparameters
randomForest_CV.best_params_

{'criterion': 'entropy',
 'max_depth': 5,
 'max_features': 'log2',
 'n_estimators': 500}

In [51]:
# Define optimal randomForest algo
randomForestFinalModel = RandomForestClassifier(random_state = 2, criterion = 'gini', max_depth = 7, max_features = 'auto', n_estimators = 300)

In [52]:
# Fit the model to the training set
randomForestFinalModel.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, ccp_alpha=0.0, class_weight=None,
                       criterion='gini', max_depth=7, max_features='auto',
                       max_leaf_nodes=None, max_samples=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=300,
                       n_jobs=None, oob_score=False, random_state=2, verbose=0,
                       warm_start=False)

In [53]:
# Prediction
predictions = randomForestFinalModel.predict(X_test)

In [54]:
from sklearn.metrics import accuracy_score

# accuracy for random forest
print("accuracy is: ", round(accuracy_score(y_test, predictions), 2))

accuracy is:  0.8

In [55]:
# Prediction
test['Survived'] = randomForestFinalModel.predict(test.drop(['PassengerId'], axis = 1))

In [56]:
# test predictions for final submission
test[['PassengerId', 'Survived']].to_csv('rf_submission.csv', index = False)